In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# BX Data

In [11]:
#BX load

bx_ratings = pd.read_csv('../data/BX-Book-Ratings.csv', delimiter=';', encoding='iso-8859-1')
bx_books = pd.read_csv('../data/BX-Books2.csv', encoding='iso-8859-1')
bx_users = pd.read_csv('../data/BX-Users.csv', delimiter=';', encoding='iso-8859-1')

/home/joe/PythonRoot/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
#ratings data

bx_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
bx_ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [16]:
bx_ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [13]:
#books data

bx_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN

In [18]:
bx_books.isnull().sum()

ISBN                        0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L               228
Unnamed: 8             271365
Unnamed: 9             271374
Unnamed: 10            271375
Unnamed: 11            271377
dtype: int64

In [19]:
bx_books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
count,271379,271379,271378,271379,271377,271379,271379,271151,14,5,4,2
unique,271379,242153,102007,286,17024,271063,271063,270835,14,5,4,2
top,039590353X,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/059042520X.0...,http://images.amazon.com/images/P/037329171X.0...,http://images.amazon.com/images/P/031287216X.0...,http://images.amazon.com/images/P/0439250552.0...,http://images.amazon.com/images/P/0440500702.0...,http://images.amazon.com/images/P/0413497607.0...,http://images.amazon.com/images/P/0809444585.0...
freq,1,27,631,17616,7536,2,2,2,1,1,1,1

In [14]:
#users data

bx_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [20]:
bx_users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [21]:
bx_users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

# GoodBooks 10k Data

In [22]:
gb_books = pd.read_csv('../data/goodbooks-10k/books.csv')
gb_book_tags = pd.read_csv('../data/goodbooks-10k/book_tags.csv')
gb_ratings = pd.read_csv('../data/goodbooks-10k/ratings.csv')
gb_tags = pd.read_csv('../data/goodbooks-10k/tags.csv')
gb_toread = pd.read_csv('../data/goodbooks-10k/to_read.csv')

In [23]:
#gb books

gb_books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [24]:
gb_books.isnull().sum()

book_id                         0
goodreads_book_id               0
best_book_id                    0
work_id                         0
books_count                     0
isbn                          700
isbn13                        585
authors                         0
original_publication_year      21
original_title                585
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

In [26]:
gb_books.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10000.00000,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,9.415000e+03,9979.000000,10000.000000,1.000000e+04,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04
mean,5000.50000,5.264697e+06,5.471214e+06,8.646183e+06,75.712700,9.755044e+12,1981.987674,4.002191,5.400124e+04,5.968732e+04,2919.955300,1345.040600,3110.885000,11475.893800,1.996570e+04,2.378981e+04
std,2886.89568,7.575462e+06,7.827330e+06,1.175106e+07,170.470728,4.428619e+11,152.576665,0.254427,1.573700e+05,1.678038e+05,6124.378132,6635.626263,9717.123578,28546.449183,5.144736e+04,7.976889e+04
min,1.00000,1.000000e+00,1.000000e+00,8.700000e+01,1.000000,1.951703e+08,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2500.75000,4.627575e+04,4.791175e+04,1.008841e+06,23.000000,9.780316e+12,1990.000000,3.850000,1.356875e+04,1.543875e+04,694.000000,196.000000,656.000000,3112.000000,5.405750e+03,5.334000e+03
50%,5000.50000,3.949655e+05,4.251235e+05,2.719524e+06,40.000000,9.780452e+12,2004.000000,4.020000,2.115550e+04,2.383250e+04,1402.000000,391.000000,1163.000000,4894.000000,8.269500e+03,8.836000e+03
75%,7500.25000,9.382225e+06,9.636112e+06,1.451775e+07,67.000000,9.780831e+12,2011.000000,4.180000,4.105350e+04,4.591500e+04,2744.250000,885.000000,2353.250000,9287.000000,1.602350e+04,1.730450e+04
max,10000.00000,3.328864e+07,3.553423e+07,5.639960e+07,3455.000000,9.790008e+12,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [25]:
#gb book tags

gb_book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [27]:
gb_book_tags.isnull().sum()

goodreads_book_id    0
tag_id               0
count                0
dtype: int64

In [28]:
gb_book_tags.describe()

       goodreads_book_id         tag_id          count
count       9.999120e+05  999912.000000  999912.000000
mean        5.263442e+06   16324.527073     208.869633
std         7.574057e+06    9647.846196    3501.265173
min         1.000000e+00       0.000000      -1.000000
25%         4.622700e+04    8067.000000       7.000000
50%         3.948410e+05   15808.000000      15.000000
75%         9.378297e+06   24997.000000      40.000000
max         3.328864e+07   34251.000000  596234.000000

In [29]:
#gb ratings

gb_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [30]:
gb_ratings.isnull().sum()

user_id    0
book_id    0
rating     0
dtype: int64

In [31]:
gb_ratings.describe()

            user_id       book_id        rating
count  5.976479e+06  5.976479e+06  5.976479e+06
mean   2.622446e+04  2.006477e+03  3.919866e+00
std    1.541323e+04  2.468499e+03  9.910868e-01
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.281300e+04  1.980000e+02  3.000000e+00
50%    2.593800e+04  8.850000e+02  4.000000e+00
75%    3.950900e+04  2.973000e+03  5.000000e+00
max    5.342400e+04  1.000000e+04  5.000000e+00

In [32]:
#gb tags

gb_tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [33]:
gb_tags.isnull().sum()

tag_id      0
tag_name    0
dtype: int64

In [35]:
gb_tags.describe()

             tag_id
count  34252.000000
mean   17125.500000
std     9887.845047
min        0.000000
25%     8562.750000
50%    17125.500000
75%    25688.250000
max    34251.000000

In [36]:
#gb toread

gb_toread.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

In [37]:
gb_toread.isnull().sum()

user_id    0
book_id    0
dtype: int64

In [38]:
gb_toread.describe()

             user_id        book_id
count  912705.000000  912705.000000
mean    27668.980115    2454.739538
std     14775.096388    2626.359921
min         1.000000       1.000000
25%     15507.000000     360.000000
50%     27799.000000    1381.000000
75%     40220.000000    3843.000000
max     53424.000000   10000.000000

In [41]:
all_dfs = [gb_books, gb_book_tags, gb_ratings, gb_tags, gb_toread, bx_ratings, bx_books, bx_users]
all_dfs_names = ['gb_books', 'gb_book_tags', 'gb_ratings', 'gb_tags', 'gb_toread', 'bx_ratings', 'bx_books', 'bx_users']

In [44]:
for i in range(len(all_dfs)):
    print(f"\n{all_dfs_names[i]}:")
    for name in all_dfs[i].columns:
        if name.contains("rating"):
            print(f"{all_dfs_names[i]: {name}})
    print(all_dfs[i].columns)

gb_books:
Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

gb_book_tags:
Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

gb_ratings:
Index(['user_id', 'book_id', 'rating'], dtype='object')

gb_tags:
Index(['tag_id', 'tag_name'], dtype='object')

gb_toread:
Index(['user_id', 'book_id'], dtype='object')

bx_ratings:
Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

bx_books:
Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

bx_users:
Index(['User-ID', 'Location', 'Age'], dtype='object')

In [49]:
for i in range(len(all_dfs)):
    for name in all_dfs[i].columns:
        if "rating" in name.lower():
            print(f"{all_dfs_names[i]}: {name}")

gb_books: average_rating
gb_books: ratings_count
gb_books: work_ratings_count
gb_books: ratings_1
gb_books: ratings_2
gb_books: ratings_3
gb_books: ratings_4
gb_books: ratings_5
gb_ratings: rating
bx_ratings: Book-Rating

In [50]:
print(gb_ratings.columns)
print(bx_ratings.columns)

Index(['user_id', 'book_id', 'rating'], dtype='object')
Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [51]:
len(gb_ratings)

5976479

In [53]:
merged = gb_ratings.merge(right=gb_books, on='book_id')

In [54]:
len(merged)

5976479

In [58]:
merged.isnull().sum()

user_id                           0
book_id                           0
rating                            0
goodreads_book_id                 0
best_book_id                      0
work_id                           0
books_count                       0
isbn                         212825
isbn13                       184538
authors                           0
original_publication_year      5942
original_title               160910
title                             0
language_code                337020
average_rating                    0
ratings_count                     0
work_ratings_count                0
work_text_reviews_count           0
ratings_1                         0
ratings_2                         0
ratings_3                         0
ratings_4                         0
ratings_5                         0
image_url                         0
small_image_url                   0
ISBN                         179446
dtype: int64

In [57]:
merged['ISBN'] = merged['isbn'].fillna(merged['isbn13'])

In [60]:
bx_ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [66]:
gbx[['User-ID', 'ISBN', 'Book-Rating']] = merged[['user_id', 'ISBN', 'rating']]

In [67]:
gbx.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [69]:
print(f"bx: {len(bx_ratings)}, gb: {len(gbx)}")
print(len(bx_ratings) + len(gbx))

bx: 1149780, gb: 5976479
7126259

In [71]:
len(pd.concat([bx_ratings, gbx]))

7126259

In [72]:
baseline_data = pd.concat([bx_ratings, gbx])

In [ ]:
Xb =